<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>上传图片</title>
    <link rel="stylesheet" href="uploadImg/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-3.3.4.css"> -->
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_1805932_ysrcp4y0uy9.css">
    <link rel="stylesheet" href="uploadImg/css/uploadImg.css">
    <script src="uploadImg/css/jquery.min.js"></script>
    <!-- <script src="https://www.jq22.com/jquery/jquery-1.10.2.js"></script> -->
    <style>

    </style>
</head>

<body>
    <div class="main">
        <div class="upload-content">
            <h3>上传图片</h3>
            <div class="content-img">
                <ul class="content-img-list"></ul>
                <div class="file">
                    <i class="gcl gcladd"></i>
                    <input type="file" name="file" accept="image/*" id="upload" multiple>
                </div>
            </div>
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
            <div>
            	<button id='btn-upload' class='btn btn-primary' value='提交图片上传'>提交</button>
            </div>
        </div>
        <div>
        	<input type="file" name="allFile" id="allFile" multiple/>
        </div>
        <div>
        	<button id="btn-allfileUpload" class='btn btn-primary' value='提交文件上传'>提交</button>
        </div>
    </div>


    <script type="text/javascript">
    	$(function(){
    		$("#btn-upload").click(function(){
    			//获取从uploadImg.js 中上传图片list
    		    console.log(imgFile);
    			var formData = new FormData();
    		    $.each(imgFile, function(i, file) {
	    		    console.log(file);
    		    	formData.append('myFile[]', file);
    		    });
    		    console.log(formData.getAll("myFile[]"));
    			$.ajax({
    				url: "http://localhost:84/upload/springUpload",
    			    type: 'POST',
    			    data: formData,
    			    async: true,
    			    cache: false,
    			    processData: false,
    			    contentType: false,
    			    success: function(res) {
    			    	alert(res.message);
    			    }
    			});
    		});
    		var formData = new FormData();
    		$('#allFile').on('change', function(e) {
    			var fileList = this.files;
    		    $.each(fileList, function(i, file) {
	    		    console.log(file);
    		    	formData.append('myFile[]', file);
    		    });
    		    console.log(formData.getAll("myFile[]"));
    		});
    		$("#btn-allfileUpload").click(function(){
    			$.ajax({
    				url: "http://localhost:84/upload/springUpload",
    			    type: 'POST',
    			    data: formData,
    			    async: true,
    			    cache: false,
    			    processData: false,
    			    contentType: false,
    			    success: function(res) {
    			    	alert(res.message);
    			    }
    			});
    		})
    	});
    </script>

    <script src="uploadImg/js/bootstrap.min.js"></script>
    <script src="uploadImg/js/uploadImg.js"></script>
</body>

</html>